<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Flight Reservation</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">


<!-- Custom styles for this template -->
<link th:href="@{/assets/css/signin.css}" rel="stylesheet">
</head>
<body>
	<div>
		<h2>Welcome to the flight reservation!</h2>
		<div>
		New users click here to register - <a th:href="@{/showReg}">Register</a> <br/>
		</div>
		<div>
		Existing users click here to login <a th:href="@{/showLogin}">Login</a>
		</div>
	</div>
</body>
</html>